{% load static %}

  {% include '../header.html' %}

<link rel="stylesheet" href="{% static 'styles/style.css'%}">

<h1>Список товаров</h1>

<ul class="product-list">
    {% for i in products %}
    <li class="product-card">
        <h3>{{ i.name_product }}</h3>
        
        <img src="{{ i.image.url }}" alt="" width="300" height="400">
        <br>
        
        <data>{{ i.created_at }}</data>
        <br>
        
        <button><a href="/product_list/{{ i.id }}/">Читать далее</a></button>
    </li>
    {% endfor %}
</ul>

{% include '../footer.html' %}