{% load static %}
{% include '../header.html' %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}">

<div class="product-detail">
    <h1 class="product-title">{{ product_id.name_models }}</h1>

    {% if product_id.image %}
        <img src="{{ product_id.image.url }}" alt="{{ product_id.name_models }}">
    {% endif %}

    <p>{{ product_id.description }}</p>
    <p>Категория: {{ product_id.type_products }}</p>
    <p>Цена: {{ product_id.price }}</p>
</div>

<hr>

<div class="comments">
    <h3>Отзывы</h3>

    {% if product_id.review.exists %}
        {% for review in product_id.review.all %}
                <p>Оценка: {{ review.marks }}</p>
                <p>{{ review.text }}</p>
                <small>{{ review.created_at }}</small>
            </div>
        {% endfor %}
    {% else %}
        <p>Отзывов пока нет</p>
    {% endif %}
</div>


{% include '../footer.html' %}
