{% load static %}

{% include '../header.html' %}

<link rel="stylesheet" href="{% static 'styles/style.css' %}">

<main class="news-container">
    <h1 class="news-title">Список товаров</h1>

    {% if products %}
    <ul class="news-list">
        {% for product in products %}
        <li class="news-card">

            <h3 class="news-name">{{ product.name_models }}</h3>

            {% if product.image %}
            <img
                src="{{ product.image.url }}"
                alt="{{ product.name_models }}"
                class="news-image"
            >
            {% endif %}

            <p class="news-category">Категория: {{ product.type_products }}</p>
            <p class="news-price">Цена: {{ product.price }} сом</p>
            <time class="news-date">{{ product.created_at }}</time>

            <a href="{% url 'product_detail' product.id %}" class="news-button">
                Подробнее
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Товаров пока нет</p>
    {% endif %}
</main>

{% include '../footer.html' %}
